###############################################
# klipper-config/10_heater_bed.cfg

#==============================================
# Heater Bed
#==============================================
# PIN config
#----------------------------------------------
[heater_bed]
heater_pin: HEATER_BED_PIN
sensor_pin: SENSOR_BED_PIN

# Sensor type
#----------------------------------------------
sensor_type: EPCOS 100K B57560G104F

# Control & Settings
#----------------------------------------------
control: pid
pid_Kp: 70.936
pid_Ki: 1.492
pid_Kd: 843.249

# temperature
# ---------------------------------------------
min_temp: 0
max_temp: 130

# temerature safety
#----------------------------------------------
[verify_heater heater_bed]
heating_gain: 2
check_gain_time: 40
hysteresis: 5
max_error: 600
