################################################
# klipper-config/ender3/board.cfg

#==============================================
# mcu settings
#==============================================
[mcu]
serial: /dev/serial/by-id/usb-Klipper_stm32f103xe_37FFD7054242353930612457-if00

#==============================================
# board_settings
#==============================================
# [include board/mks_genl_v2.0.cfg]
# [include ../board/creality3d_v1.1.4.cfg]
[include ../board/bigtreetech_skr_mini_e3_v1.2.cfg]

#==============================================
# board_settings
#==============================================
[temperature_sensor mcu_temp]
sensor_type: temperature_mcu
min_temp: 0
max_temp: 100

[temperature_sensor host_temp]
sensor_type: temperature_host
min_temp: 0
max_temp: 100